* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.nav li.active a {
    border-bottom: 2px solid #e6af2a
}

img {
    max-height: 100%
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Cerulean_Nights;
    src: url("../FONTS/Cerulean Nights.otf");
}

@font-face {
    font-family: cletg;
    src: url("../FONTS/BEBAS___.TTF");
}

@font-face {
    font-family: BEBAS;
    src: url("../FONTS/BEBAS___.TTF");
}

.navbar-default {
    background-color: #202835;
    border: none;
    padding: 10px 0px;
}

.mainmenu {
    float: right
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    margin: 20px 80px 0;
}

.navbar-default .navbar-nav li a {
    color: #fb6816;
    font-family: roboto;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.navbar-default .navbar-nav li a:hover {
    color: #ff6600
}

.logo h2 {
  border: 1px solid #fb6834;
  color: #fb6834;
  font-family: "Kaushan Script",cursive;
  font-size: 25px;
  margin-top: 10px;
  padding: 6px 7px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.logo h2::before {
  border: 1px solid #fb6834;
  bottom: -16%;
  content: "";
  height: 132%;
  left: -9%;
  position: absolute;
  width: 119%;
}

.social-icon {
    display: inline-block;
    float: right;
    margin: 25px 0 0;
}

.social-icon a,
.contact-socail a {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fb6816;
    border-radius: 40px;
    color: #fb6816;
    display: inline-block;
    float: left;
    font-size: 15px;
    height: 40px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 40px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.nav li.active a {
    border-bottom: 1px solid #ff6600
}

.contact-socail > a:first-child:hover,
.social-icon > a:first-child:hover {
    border-color: #3B5998;
    color: #fff;
    background: #3B5998;
}

.contact-socail > a:last-child:hover,
.social-icon > a:last-child:hover {
    border-color: #BD1E23;
    color: #fff;
    background: #BD1E23;
}

.contact-socail > a:nth-child(2):hover,
.social-icon > a:nth-child(2):hover {
    border-color: #D73D32;
    color: #fff;
    background: #D73D32;
}

.contact-socail {
    display: inline-block
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #ff6600
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ff6600;
    background: none;
}


/*========================
slider
===========================*/

.slide-1 {
    background: url("../img/1-(1).jpg");
}

.slide-2 {
    background: url("../img/1-(2).jpg");
}

.slide-3 {
    background: url("../img/1-(3).jpg");
}

.slider-bg {
    background-position: center center;
    background-size: cover;
    height: 650px;
}

.slide-caption {
    height: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    left: 0;
}

.slide .item::before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/*slider-text*/

.slider-text {
    display: inline-block
}

.slider-text h1 {
    background: #202835 none repeat scroll 0 0;
    color: #fb6816;
    display: inline-block;
    font-family: cletg;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px 30px;
    text-transform: uppercase;
    word-spacing: 10px;
    margin-top: 45px;
}

.slider-text h1 span {
  color: #fb6816;
  font-family: "Kaushan Script",cursive;
  font-size: 65px;
}

.slider-text h3 {
    background: #202835 none repeat scroll 0 0;
    color: #fb6816;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.slide-btn {
    border: 2px solid #fb6816;
    top: 115px;
    color: #fb6816;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 35px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.slide-btn:hover {
    color: #fb6816;
    background: #202835;
    border-color: #202835;
}


/*Carousel*/

.carousel-control {
    background-color: transparent;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 255px;
    height: 40px;
    width: 40px;
}

.carousel-control:hover {
    background: none;
    color: #000;
}

.carousel-control.left {
    left: 25px;
    background: transparent;
}

.carousel-control.right {
    right: 25px;
    background: transparent;
}


/* End Carousel*/


/*========
section
=======*/

.section-padding {
    padding: 50px 0px
}

.section-top-border {
    border-top: 2px solid #fb6816
}

.section-head {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    padding-top: 110px;
    padding-bottom: 50px;
}

.section-head > h2 {
    color: #fb6816;
    font-size: 30px;
    line-height: 50px;
    margin: 0 auto 20px;
    padding: 15px 0;
    text-transform: uppercase;
    width: 30%;
    text-align: center;
    font-family: cletg;
    position: relative;
}

.section-head > h2::after {
    border-right: 5px solid #fb6816;
    border-top: 5px solid #fb6834;
    content: "";
    height: 120%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    transition: .5s;
    width: 110%;
}

.section-head > h2::before {
    border-left: 5px solid #fb6816;
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    height: 120%;
    width: 110%;
    border-bottom: 5px solid #fb6816;
    -webkit-transition: .5s;
    transition: .5s;
}

.section-head:hover h2:after,
.section-head:hover h2:before {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.section-head > p {
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    padding: 5px 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #44495e;
}


/*Servics */

#service-head {
    background: url("../img/section-bg-1.jpg") repeat fixed 50% 50% / cover;
    position: relative;
}

#service-section {
    background: #202835
}

.single-service {
    padding: 17px 10px;
    text-align: center;
}

.single-service:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.single-service i {
    border: 2px solid #fb6816;
    font-size: 30px;
    padding: 15px;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: #fb6816;
}

.single-service:hover h2 {
    color: #fff
}

.single-service:hover i {
    border: 2px solid #fff;
    color: #fff;
}

.single-service > h2 {
    font-size: 20px;
    margin: 30px 0px;
    text-transform: uppercase;
    color: #fb6816;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.single-service > p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    : ;
}


/*======portfolio======*/

#portfolio-head {
    background: url("../img/section-bg-2.jpg") repeat fixed 50% 50% / cover
}

#portfolio-section img {
    height: 250px;
    width: 379px;
}

#portfolio-section ul {
    list-style: outside none none;
    margin-bottom: 15px;
    text-align: center;
}

#portfolio-section li {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fb6816;
    color: #fb6816;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#portfolio-section li:hover {
    color: #fb6816;
    background: #202835;
    border-color: #202835;
}

.project {
    position: relative
}

.project-overlay {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s, border 0.8s ease 0s;
    transition: opacity 0.8s ease 0s, border 0.8s ease 0s;
    text-align: center;
}

.vcenter {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.centrize {
    display: table-cell;
    vertical-align: middle;
}

.project-overlay h3 {
    color: #202835;
    font-size: 20px;
    font-weight: 400;
    font-family: cletg;
}

.project-overlay .btn {
    border-radius: 0px;
    margin: 20px 0px;
}

.btn-dark {
    border-color: #202835;
    color: #202835;
    font-size: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.project-overlay {
    font-size: 14px;
    color: #fff;
}

.project:hover .project-overlay {
    opacity: 1
}


/*===================
      About area
=====================*/

#about-head {
    background: url("../img/section-bg-3.jpg") repeat fixed 50% 50% / cover
}

.about-company > p {
    font-family: roboto;
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
    padding: 10px 0px;
    color: #44495e;
}

.sub-section-title h2 {
    background: #202835;
    color: #fb6816;
    font-family: cletg;
    font-size: 20px;
    height: 40px;
    padding: 8px 0;
    text-transform: uppercase;
    width: 65%;
}

.our_company h2 {
    font-family: Cerulean_Nights
}

.about-company > h3 {
    line-height: 40px;
    text-align: justify;
    color: #202835;
}

.custom-btn {
    border: 2px solid;
    border-radius: 0;
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.custom-btn {
    border: 2px solid #fb6816;
    border-radius: 0;
    color: #fb6816;
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.custom-btn:hover {
    color: #fb6816;
    background: #202835;
    border-color: #202835;
}

.patner img {
    height: 100px;
    width: 115px;
}

.patner ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.patner li {
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow: hidden;
}

.single-expert {
    position: relative
}

.single-expert p {
    font-size: 14px;
    text-transform: uppercase;
}

.expert-overlay {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s, border 0.8s ease 0s;
    transition: opacity 0.8s ease 0s, border 0.8s ease 0s;
    text-align: center;
}

.expert-overlay .btn {
    border-radius: 0px
}

.btn-social {
    border-color: #000;
    color: #000;
    font-size: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-expert:hover .expert-overlay {
    opacity: 1
}


/*
    =============
      Testimonial
    ===============
    */

#testimonial-area {
    background: #202835
}

#testimonial-head {
    background: url("../img/section-bg-4.jpg") repeat fixed 50% 50% / cover
}

.testimonial {
    background: rgba(255, 255, 255, .9);
    color: #fff;
}

.testimonial img {
    border-radius: 200px;
    display: inline-block;
    float: left;
    height: 200px;
    margin: 40px 0 0 10px;
    overflow: hidden;
    padding: 7px;
    width: 200px;
}

.client-say {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;
    width: 75%;
}

.client-say h2 {
    color: #fb6816;
    font-size: 20px;
    padding: 9px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: cletg;
}

.client-say p {
    font-family: roboto;
    font-size: 16px;
    font-weight: 300;
    padding: 0 5px;
    color: #44495e;
}

.client-say span {
    font-family: roboto;
    color: #44495e;
    font-size: 12px;
    padding: 0 10px;
    text-transform: none;
}

.client-say i {
    color: #fb6816;
    padding: 0;
}

.quote-left {
    font-size: 32px;
    margin-right: 36px;
    color: #fff;
}

.quote-right {
    font-size: 32px;
    margin-left: 36px;
    color: #fff;
}

.owl-theme .owl-controls .owl-page span {
    background: #fb6816;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}


/*registation area*/

#registration_area {
    background: rgba(0, 0, 0, 0) url("../img/reg-bg.jpg") repeat fixed 50% 50% / cover;
}

.reg_form {
    background: #fff;
    padding: 30px;
    box-shadow: 0 9px 21px 0 rgba(0, 0, 0, .8);
}

.registraion_area {
    background: rgba(255, 255, 255, .5);
}

.reg_form .btn {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 46%;
    height: 50px;
    border-radius: 0;
    border: 2px solid #fb6816;
    transition: .3s;
    
}

.btn-reg {
  margin-left: 16px;
  margin-right: 20px;
  background-color:#202835;
    color: #fff;
    transition: .3s;
    
}
.btn-clear{
    background: none;
    color:#fb6816;
    transition: .3s;
}
.btn-reg:hover{
    background: none;
}
.btn-clear:hover{
   background-color:#202835;
    color: #fff;
}


/**********************************
login area
**********************************/

#login_area {
    background: rgba(0, 0, 0, 0) url("../img/login-sec-bg.jpg") repeat fixed 50% 50% / cover;
    
}

#login-head {
    background: rgba(255, 255, 255, 0.8);
}

.login {
    margin-bottom: 20px;
    text-align: center;
}

.login > h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 14px;
    position: relative;
}

.login > h2::before {
    border: 1px solid #fb6816;
    bottom: 0;
    content: "";
    height: 0;
    left: -5%;
    position: absolute;
    width: 110%;
}

.login > h2::after {
    background: #fb6816 none repeat scroll 0 0;
    bottom: -9px;
    content: "";
    height: 20px;
    left: 76px;
    position: absolute;
    transform: rotate(-135deg);
    width: 20px;
}

.login_area {
    background: rgba(32, 44, 92, 0.34) none repeat scroll 0 0;
    padding-bottom: 74px;
    padding-top: 54px;
}

.form {
    background: #202835 none repeat scroll 0 0;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    color: #fb6816;
}

.form .form-control {
    background: none;
    border-radius: 0;
    border-color: #fb6816;
    color: #fb6816;
}

.form .form-control:focus {
    border-color: #66afe9;
    box-shadow: none;
    outline: 0 none;
}

.btn-login {
    border-radius: 0;
    font-size: 18px;
    padding: 6px 30px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: 1px solid #fb6816;
    color: #fff;
    transition: .3s;
    background: #fb6816;
}

.btn-login:hover {
    background: none;
    color: #fb6816;
    border: 1px solid #fb6816;
}


#contact-head {
    background: url("../img/section-bg-5%20.jpg") repeat fixed 50% 50% / cover
}

#contact-section {}

.contact-form-wrap {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.contact-form-wrap:hover h3 {
    color: #303a49
}

.contact-form-wrap h3 {
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fb6816;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

#contact-form .form-group {
    margin-bottom: 15px
}

.contact-form-field {
    background: transparent none repeat scroll 0 0;
    font-size: 15px;
    line-height: 15px;
    padding-left: 20px;
    height: 50px;
}

.reg_form .form-control, #contact-form .form-control {
  border-radius: 0;
  height: 45px;
}

.black {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fb6816;
    border-radius: 0;
    color: #fb6816;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.black:hover {
    color: #fb6816;
    background: #202835;
    border-color: #202835;
}

.contact-info {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
}

.contact-info:hover h4,
h2 {
    color: #303a49
}

.contact-info h4,
h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fb6816;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.contact-info p {
    font-size: 14px;
    font-family: roboto;
    font-weight: 300;
    color: #44495e;
}

.contact-info ul li {
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.scrollup {
    background: #202835 none repeat scroll 0 0;
    bottom: 100px;
    color: #ff6600;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 50px;
}


/*footer area*/

#footer-area {
    background: #202835 none repeat scroll 0 0;
    border-top: 2px solid #fb6816;
}

.footer .nav {
    margin-left: 240px
}

.footer ul {
    list-style: outside none none;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
}

.footer li {
    color: #fff;
    display: inline-block;
    float: left;
    padding: 5px;
}

.footer li a {
    color: #fb6816;
    font-family: roboto;
    font-weight: 300;
    padding: 10px 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-weight: 300;
    font-family: roboto;
    font-size: 15px;
}

.footer li a:hover {
    background: none;
    color: #ff6600;
}

.footer .nav li a:focus {
    background: none
}

.copyright p {
    color: #fb6816
}